body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red , yellow);
}



h1 {
    font-size: 3em;
    font-weight: bold;
    color:rgb(0,0,0);
    font-family: 'Muli', sans-serif; 
    color: #fff;
}

.main{
    display: flex;
    flex-direction: column;
    gap:5vh;
}

.password-container {
    display: flex;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    width: 25em;
    background-color: #333;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.password-container p {
    color: #fff;
    font-size: 2em;
    font-family: monospace;
}

.fa-copy {
    color: #fff;
    padding: 1vh;
    font-size: x-large;
    cursor: pointer;
}

.length-container {
    width: 20em;
    background-color: #333;
    padding: 1rem;
    border-radius: 0.5rem;
}

.length-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.length-info p {
    color: #fff;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ddd;
    border-radius: 4px;
    outline: none;

    
}

.main{
    display: flex;
    flex-direction: column;
    gap:2vh;
}

.boxes{
    display: flex;
    flex-direction:column;
    gap:3vh;
    font-size: medium;
    color:#ddd
}

.strength{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.light{
    width: 3vh;
    height: 3vh;
    background-color: red;
    border-radius: 50%;
    box-shadow: #ddd;
}

.button{
    width: 100%;
    height: 5vh;
    cursor: pointer;
    font-size: large;
    background-color:#6882cf;
}



